{
  "openapi": "3.1.0",
  "info": {
    "title": "GetMiPay API",
    "description": "GetMiPay - Your universal gateway to getmipay. API for processing payments, payouts, and virtual cards through GetMiPay gateway.",
    "contact": {
      "name": "GetMiPay Support",
      "email": "support@getmipay.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://getmipay.com/"
    },
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://getmipay.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.getmepay.com/api/v1",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "API authentication and token management"
    },
    {
      "name": "Services",
      "description": "Get available payment services"
    },
    {
      "name": "Currency",
      "description": "API for converting amounts between different currencies."
    },
    {
      "name": "Payments",
      "description": "Collect payments from customers"
    },
    {
      "name": "Payouts",
      "description": "Send money to customers"
    },
    {
      "name": "Transactions",
      "description": "Check transaction status"
    },
    {
      "name": "Balance",
      "description": "Account balance management"
    },
    {
      "name": "Virtual Cards",
      "description": "Virtual card creation and management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for payment notifications"
    }
  ],
  "paths": {
    "/action/auth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate for Virtual Cards",
        "description": "Authenticate with getmipay to get tokens for virtual card operations. This endpoint requires API key authentication.",
        "requestBody": {
          "description": "Authentication credentials",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["public_apikey", "private_secretkey"],
                "properties": {
                  "public_apikey": {
                    "type": "string",
                    "description": "The public API key for authentication",
                    "example": "pk_1234567890abcdef"
                  },
                  "private_secretkey": {
                    "type": "string",
                    "description": "The secret key for authentication",
                    "example": "sk_1234567890abcdef"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualCardAuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/action/check-api-key": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Check API Key Status",
        "description": "Check the status and validity of an API key without full authentication.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "API key to check",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["secret_apikey"],
                "properties": {
                  "public_apikey": {
                    "type": "string",
                    "description": "The SECRET API key to check",
                    "example": "sc_1234567890abcdef"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "api_key": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "key": {
                              "type": "string",
                              "example": "pk_1234567890abcdef"
                            },
                            "status": {
                              "type": "string",
                              "example": "active"
                            },
                            "is_active": {
                              "type": "boolean",
                              "example": true
                            },
                            "activated_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "last_used_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "has_been_rotated": {
                              "type": "boolean",
                              "example": false
                            },
                            "rotation_count": {
                              "type": "integer",
                              "example": 0
                            }
                          }
                        },
                        "merchant": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "business_name": {
                              "type": "string",
                              "example": "My Business"
                            },
                            "kyc_status": {
                              "type": "string",
                              "example": "approved"
                            },
                            "kyc_status_label": {
                              "type": "string",
                              "example": "Approved"
                            },
                            "status": {
                              "type": "string",
                              "example": "active"
                            },
                            "is_active": {
                              "type": "boolean",
                              "example": true
                            },
                            "can_transact": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "tags": ["Services"],
        "summary": "Get Available Services",
        "description": "Retrieve all available payment services activated for your merchant account. These are the services you can use for PayIn and PayOut operations.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Services retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Merchant account not active or KYC not approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/convert-currency": {
      "get": {
        "tags": ["Currency"],
        "summary": "Convert Currency",
        "description": "Convert an amount from one currency to another using ISO 4217 currency codes. Returns the converted amount in the target currency.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.01,
              "example": 10000
            },
            "description": "The amount to convert in the source currency."
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "enum": ["XAF", "XOF", "USD", "EUR"],
              "example": "XAF"
            },
            "description": "The source currency code (ISO 4217). Supported: XAF, XOF, USD, EUR"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "enum": ["XAF", "XOF", "USD", "EUR"],
              "example": "XOF"
            },
            "description": "The target currency code (ISO 4217). Supported: XAF, XOF, USD, EUR"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Merchant account not active or KYC not approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/payin": {
  "post": {
    "tags": ["Payments"],
    "summary": "Initiate PayIn",
    "description": "Collect payment from a customer via mobile money. The transaction will be processed through getmipay and funds will be credited to your merchant account upon success.\n\n**OTP Requirement:**\n- For Orange Money services (OM CI, OM SN, OM BF), OTP header is REQUIRED\n- OTP must be maximum 8 characters/digits\n- OTP is only required for these specific services",
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "parameters": [
      {
        "name": "operation",
        "in": "header",
        "description": "Operation type - must be '2' for PayIn",
        "required": true,
        "schema": {
          "type": "string",
          "enum": ["2"],
          "example": "2"
        }
      },
      {
        "name": "service",
        "in": "header",
        "description": "Service identifier for the payment method.\n\n**Services requiring OTP:**\n- `3` - OM CI (Orange Money Côte d'Ivoire)\n- `4` - OM SN (Orange Money Senegal)\n- `5` - OM BF (Orange Money Burkina Faso)",
        "required": true,
        "schema": {
          "type": "string",
          "example": "1"
        }
      },
      {
        "name": "otp",
        "in": "header",
        "description": "One-Time Password for Orange Money services.\n\n**Required only for:** OM CI (service: 3), OM SN (service: 4), OM BF (service: 5)\n**Format:** Maximum 8 characters/digits\n**Note:** This header is optional for services that don't require OTP",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 8,
          "example": "123456"
        }
      }
    ],
    "requestBody": {
      "description": "Payment details to collect from customer",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/PayInRequest"
          }
        }
      },
      "required": true
    },
    "responses": {
      "200": {
        "description": "Payment initiated successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PayInResponse"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized - Invalid API credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "500": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
},
    "/payouts": {
      "post": {
        "tags": ["Payouts"],
        "summary": "Initiate PayOut",
        "description": "Send money to a customer via mobile money. The amount will be deducted from your merchant balance immediately.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "header",
            "description": "Operation type - must be '4' for PayOut",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["4"],
              "example": "4"
            }
          },
          {
            "name": "service",
            "in": "header",
            "description": "Service identifier for the payment method",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Payout details to send to customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayOutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayOutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payment Status",
        "description": "Check the status of a PayIn transaction",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Transaction reference ID (order_id or soleaspay_reference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYIN_ABC123DEF456"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payout Status",
        "description": "Check the status of a PayOut transaction",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Payout reference ID (order_id or soleaspay_reference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYOUT_XYZ789GHI123"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "tags": ["Balance"],
        "summary": "Get Account Balance",
        "description": "Retrieve current merchant account balance",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/check-status": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Manual Status Check",
        "description": "Manually check and update transaction status by polling getmipay",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Reference to check",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reference"],
                "properties": {
                  "reference": {
                    "type": "string",
                    "description": "Transaction reference (order_id or soleaspay_reference)",
                    "example": "MPAYIN_ABC123DEF456"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Status checked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "integer",
                          "example": 123
                        },
                        "order_id": {
                          "type": "string",
                          "example": "MPAYIN_ABC123DEF456"
                        },
                        "current_status": {
                          "type": "string",
                          "example": "success"
                        },
                        "soleaspay_reference": {
                          "type": "string",
                          "example": "MLS690d472dd7ee7B"
                        },
                        "status_updated": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/direct-status": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Direct Status Check",
        "description": "Directly check transaction status with getmipay using both order ID and payment reference",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Transaction identifiers for direct status check",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Direct status check successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/fees": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get Virtual Card Fees",
        "description": "Retrieve all active virtual card fee configurations. Fees shown are total amounts including both Soleaspay and GetMiPay fees.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fees retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualCardFeesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/calculate-fees": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Calculate Card Creation Fees",
        "description": "Calculate fees for creating a virtual card based on card grade, type, and initial balance. Returns total fees including both Soleaspay and GetMiPay fees.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "card_grade",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["BASIC", "PREMIUM"],
              "example": "BASIC"
            },
            "description": "Grade of the card (BASIC or PREMIUM)"
          },
          {
            "name": "card_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["VISA", "MASTERCARD"],
              "example": "VISA"
            },
            "description": "Type of the card (VISA or MASTERCARD)"
          },
          {
            "name": "initial_balance",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "example": 100.00
            },
            "description": "Initial balance to load on the card"
          }
        ],
        "responses": {
          "200": {
            "description": "Fees calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculateFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Fee configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/action/card/user": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Create Card User",
        "description": "Create a new user for virtual card operations",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "User creation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get All Card Users",
        "description": "Retrieve list of all virtual card users",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUsersListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/users/{reference}": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get Card User",
        "description": "Retrieve a specific virtual card user by reference",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "User reference ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SP6VC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUserResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/action/card/{userId}": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Create Virtual Card",
        "description": "Create a new virtual card for a specific user",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID for whom to create the card",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SP6VC"
            }
          }
        ],
        "requestBody": {
          "description": "Virtual card creation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualCardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Virtual card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid card data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/action/card/{id}": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get Virtual Card",
        "description": "Retrieve virtual card details by card ID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualCardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/balance": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get Card Balance",
        "description": "Retrieve the current balance of a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "card_id": {
                          "type": "string",
                          "example": "CARD_123456"
                        },
                        "balance": {
                          "type": "number",
                          "example": 50.00
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/topup": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Top Up Card",
        "description": "Add funds to a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "requestBody": {
          "description": "Top-up details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 0.01,
                    "example": 50.00
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["USD", "EUR", "XAF"],
                    "example": "USD"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Card topped up successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/withdraw": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Withdraw from Card",
        "description": "Withdraw funds from a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "requestBody": {
          "description": "Withdrawal details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 0.01,
                    "example": 20.00
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["USD", "EUR", "XAF"],
                    "example": "USD"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Withdrawal successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/enable": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Enable Card",
        "description": "Enable a disabled virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/disable": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Disable Card",
        "description": "Disable a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/action/card/transaction/{id}": {
      "get": {
        "tags": ["Virtual Cards"],
        "summary": "Get Card Transactions",
        "description": "Retrieve transaction history for a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Card ID or transaction ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}": {
      "delete": {
        "tags": ["Virtual Cards"],
        "summary": "Terminate Card",
        "description": "Permanently terminate a virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID to terminate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card terminated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-cards/cards/{cardId}/operation": {
      "post": {
        "tags": ["Virtual Cards"],
        "summary": "Card Operation",
        "description": "Perform generic operations on virtual card",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Virtual card ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CARD_123456"
            }
          }
        ],
        "requestBody": {
          "description": "Operation details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["topup", "withdraw", "enable", "disable", "get_balance", "get_transactions"],
                    "example": "topup"
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 0.01,
                    "example": 50.00
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["USD", "EUR", "XAF"],
                    "example": "USD"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardOperationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VirtualCardFeesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "fees": {
                "type": "array",
                "description": "List of active virtual card fee configurations",
                "items": {
                  "$ref": "#/components/schemas/VirtualCardFee"
                }
              },
              "total_fee_configurations": {
                "type": "integer",
                "example": 4
              },
              "currencies_available": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["USD"]
              },
              "card_types_available": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["VISA", "MASTERCARD"]
              },
              "card_grades_available": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["BASIC", "PREMIUM"]
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "message": {
                "type": "string",
                "example": "Fees operaton successfully retrieved"
              }
            }
          }
        }
      },
      "VirtualCardFee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "card_grade": {
            "type": "string",
            "enum": ["BASIC", "PREMIUM"],
            "example": "BASIC"
          },
          "card_type": {
            "type": "string",
            "enum": ["VISA", "MASTERCARD"],
            "example": "VISA"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "creation_fee": {
            "type": "number",
            "format": "float",
            "example": 3.50,
            "description": "Total fee for creating the card"
          },
          "monthly_fee": {
            "type": "number",
            "format": "float",
            "example": 1.30,
            "description": "Total monthly maintenance fee"
          },
          "top_up_fee": {
            "type": "number",
            "format": "float",
            "example": 1.20,
            "description": "Total fee for adding funds to the card"
          },
          "withdrawal_fee": {
            "type": "number",
            "format": "float",
            "example": 3.30,
            "description": "Total fee for withdrawing from the card"
          },
          "reject_balance_fee": {
            "type": "number",
            "format": "float",
            "example": 1.10,
            "description": "Total fee for rejected balance transactions"
          },
          "funding_limits": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number",
                "format": "float",
                "example": 2.00
              },
              "max": {
                "type": "number",
                "format": "float",
                "example": 10000.00
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            }
          },
          "is_active": {
            "type": "boolean",
            "example": true
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "CalculateFeesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "card_grade": {
                "type": "string",
                "example": "BASIC"
              },
              "card_type": {
                "type": "string",
                "example": "VISA"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "initial_balance": {
                "type": "number",
                "format": "float",
                "example": 100.00
              },
              "creation_fee": {
                "type": "number",
                "format": "float",
                "example": 3.50,
                "description": "Total fee for creating the card"
              },
              "total_amount_required": {
                "type": "number",
                "format": "float",
                "example": 103.50,
                "description": "Initial balance + creation fee"
              },
              "other_fees": {
                "type": "object",
                "properties": {
                  "monthly_fee": {
                    "type": "number",
                    "format": "float",
                    "example": 1.30
                  },
                  "top_up_fee": {
                    "type": "number",
                    "format": "float",
                    "example": 1.20
                  },
                  "withdrawal_fee": {
                    "type": "number",
                    "format": "float",
                    "example": 3.30
                  },
                  "reject_balance_fee": {
                    "type": "number",
                    "format": "float",
                    "example": 1.10
                  }
                }
              },
              "funding_limits": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "format": "float",
                    "example": 2.00
                  },
                  "max": {
                    "type": "number",
                    "format": "float",
                    "example": 10000.00
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              },
              "message": {
                "type": "string",
                "example": "Fees operation calculated successfully"
              }
            }
          }
        }
      },
      "ServicesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Services retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "all_services": {
                "type": "array",
                "description": "All active services for the merchant",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "services_by_country": {
                "type": "object",
                "description": "Services grouped by country code",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              },
              "payin_services": {
                "type": "array",
                "description": "Services that support PayIn (deposits)",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "payout_services": {
                "type": "array",
                "description": "Services that support PayOut (withdrawals)",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "total_services": {
                "type": "integer",
                "example": 5,
                "description": "Total number of active services"
              },
              "total_payin_services": {
                "type": "integer",
                "example": 3,
                "description": "Total number of PayIn services"
              },
              "total_payout_services": {
                "type": "integer",
                "example": 2,
                "description": "Total number of PayOut services"
              },
              "merchant_info": {
                "type": "object",
                "properties": {
                  "merchant_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "business_name": {
                    "type": "string",
                    "example": "My Awesome Business"
                  },
                  "balance": {
                    "type": "number",
                    "example": 150000
                  },
                  "currency": {
                    "type": "string",
                    "example": "XAF"
                  }
                }
              }
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Service identifier to use in PayIn/PayOut headers",
            "example": "1"
          },
          "name": {
            "type": "string",
            "example": "MOMO CM"
          },
          "description": {
            "type": "string",
            "example": "MTN MOBILE MONEY CM"
          },
          "country_code": {
            "type": "string",
            "example": "CM"
          },
          "country_name": {
            "type": "string",
            "example": "CAMEROON"
          },
          "withdrawable": {
            "type": "boolean",
            "example": true,
            "description": "Whether this service supports PayOut operations"
          },
          "depositable": {
            "type": "boolean",
            "example": true,
            "description": "Whether this service supports PayIn operations"
          },
          "is_active": {
            "type": "boolean",
            "example": true
          },
          "currency": {
            "type": "string",
            "example": "XAF"
          },
          "min_amount": {
            "type": "number",
            "example": 100
          },
          "max_amount": {
            "type": "number",
            "example": 1000000
          }
        }
      },
      "CurrencyConversionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true,
            "description": "Indicates if the conversion was successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 10245,
                "description": "The converted amount in the target currency"
              },
              "currency": {
                "type": "string",
                "example": "XOF",
                "description": "The target currency code (ISO 4217)",
                "enum": ["XAF", "XOF", "USD", "EUR"]
              }
            },
            "description": "Conversion result with the converted amount and target currency"
          }
        },
        "description": "Response containing the converted amount in the target currency"
      },
     "PayInRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 1000,
            "description": "Amount in smallest currency unit (100 XAF = 1€)"
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "XOF"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "description": "Customer mobile money wallet number",
            "example": "690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Payment for Order #123"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "John Doe"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive payment status updates",
            "example": "https://yourapp.com/webhooks/payment"
          }
        }
      },
            "PayOutRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 5000
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "USD", "EUR"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "example": "237690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Refund for Order #456"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "Jane Smith"
          }
        }
      },
     "PayInResponse": {
  "type": "object",
  "properties": {
    "success": {
      "type": "boolean",
      "example": true
    },
    "message": {
      "type": "string",
      "example": "Payment initiated successfully"
    },
    "data": {
      "type": "object",
      "properties": {
        "transaction_reference": {
          "type": "string",
          "example": "MPAYIN_ABC123DEF456"
        },
        "soleaspay_reference": {
          "type": "string",
          "example": "MLS690d472dd7ee7B"
        },
        "amount": {
          "type": "number",
          "example": 1000
        },
        "fee_amount": {
          "type": "number",
          "example": 50,
          "description": "Fee amount deducted"
        },
        "net_amount": {
          "type": "number",
          "example": 950,
          "description": "Net amount credited to merchant"
        },
        "currency": {
          "type": "string",
          "example": "XAF"
        },
        "status": {
          "type": "string",
          "example": "pending"
        },
        "service_used": {
          "type": "string",
          "example": "3"
        },
        "service_name": {
          "type": "string",
          "example": "OM CI"
        },
        "otp_required": {
          "type": "boolean",
          "example": true,
          "description": "Indicates if OTP was required for this service"
        },
        "payment_url": {
          "type": "string",
          "description": "URL to redirect customer for payment (if applicable)",
          "example": "null"
        },
        "webhook_urls": {
          "type": "object",
          "properties": {
            "success": {
              "type": "string",
              "example": "https://getmipay.com/api/webhooks/success"
            },
            "failure": {
              "type": "string",
              "example": "https://getmipay.com/api/webhooks/failure"
            }
          }
        }
      }
    }
  }
},
      "PayOutResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Payout initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "example": "MPAYOUT_XYZ789GHI123"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "MLS690d472dd7ee7C"
              },
              "amount": {
                "type": "number",
                "example": 5000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "example": "pending"
              }
            }
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "MLS690d472dd7ee7B"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "enum": ["pending", "success", "failed", "timeout"],
                "example": "success"
              },
              "description": {
                "type": "string",
                "example": "Payment for Order #123"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "polling_attempts": {
                "type": "integer",
                "example": 5
              },
              "last_polling_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "DirectStatusRequest": {
        "type": "object",
        "required": ["order_id", "pay_id"],
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Your unique order ID",
            "example": "MPAYIN_ABC123DEF456"
          },
          "pay_id": {
            "type": "string",
            "description": "getmipay payment reference (received from Pay-In API)",
            "example": "MLS690d472dd7ee7B"
          },
          "operation": {
            "type": "string",
            "description": "Optional operation header",
            "example": "2"
          },
          "service": {
            "type": "string",
            "description": "Optional service header",
            "example": "1"
          }
        }
      },
      "DirectStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "pay_id": {
                "type": "string",
                "example": "MLS690d472dd7ee7B"
              },
              "status": {
                "type": "string",
                "enum": ["pending", "success", "failed", "processing"],
                "example": "success"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2024-12-16T10:05:01Z"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number",
                "example": 150000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "merchant_name": {
                "type": "string",
                "example": "My Awesome Business"
              }
            }
          }
        }
      },
      "VirtualCardAuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Authentication token for virtual card operations",
                "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "example": "2024-12-16T12:00:00Z"
              }
            }
          }
        }
      },
      "CardUserRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email",
          "country_code",
          "contact",
          "dob",
          "billing_address",
          "billing_city",
          "billing_country",
          "billing_state",
          "billing_postal_code",
          "id_number"
        ],
        "properties": {
          "reference": {
            "type": "string",
            "readOnly": true,
            "example": "SP6VC"
          },
          "first_name": {
            "type": "string",
            "example": "Doe"
          },
          "last_name": {
            "type": "string",
            "example": "John"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@gmail.com"
          },
          "country_code": {
            "type": "string",
            "example": "+237"
          },
          "contact": {
            "type": "string",
            "example": "697028808"
          },
          "dob": {
            "type": "string",
            "format": "date-time",
            "example": "1985-05-15T18:36:57+00:00"
          },
          "billing_name": {
            "type": "string",
            "readOnly": true,
            "example": "Doe John"
          },
          "is_business": {
            "type": "boolean",
            "example": false
          },
          "business_name": {
            "type": ["string", "null"],
            "example": null
          },
          "billing_address": {
            "type": "string",
            "example": "Logbessou"
          },
          "billing_city": {
            "type": "string",
            "example": "Douala"
          },
          "billing_country": {
            "type": "string",
            "example": "CM"
          },
          "billing_state": {
            "type": "string",
            "example": "Littoral"
          },
          "billing_postal_code": {
            "type": "string",
            "example": "1234"
          },
          "id_number": {
            "type": "string",
            "example": "125464"
          }
        }
      },
      "CardUserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Virtual card user created successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 12
              },
              "merchant_id": {
                "type": "integer",
                "example": 3
              },
              "reference": {
                "type": "string",
                "example": "SP6A9F21D0VC"
              },
              "first_name": {
                "type": "string",
                "example": "Alex"
              },
              "last_name": {
                "type": "string",
                "example": "Moris"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "alex.moris@example.com"
              },
              "contact": {
                "type": "string",
                "example": "690112233"
              },
              "dob": {
                "type": "string",
                "format": "date-time",
                "example": "1994-03-21T00:00:00.000000Z"
              },
              "country_code": {
                "type": "string",
                "example": "237"
              },
              "billing_name": {
                "type": "string",
                "example": "Alex Moris"
              },
              "is_business": {
                "type": "boolean",
                "example": false
              },
              "business_name": {
                "type": ["string", "null"],
                "example": null
              },
              "billing_address": {
                "type": "string",
                "example": "Carrefour Bastos"
              },
              "billing_city": {
                "type": "string",
                "example": "Yaoundé"
              },
              "billing_country": {
                "type": "string",
                "example": "CM"
              },
              "billing_state": {
                "type": "string",
                "example": "Centre"
              },
              "billing_postal_code": {
                "type": "string",
                "example": "00123"
              },
              "id_number": {
                "type": "string",
                "example": "CNI004829191"
              },
              "status": {
                "type": "string",
                "example": "active"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-10-02T12:45:30.000000Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-10-02T12:45:30.000000Z"
              }
            }
          }
        }
      },
      "CardUsersListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "users": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardUserResponse"
                }
              },
              "total_count": {
                "type": "integer",
                "example": 5
              }
            }
          }
        }
      },
      "VirtualCardRequest": {
        "type": "object",
        "required": ["balance", "currency", "card_type", "category", "grade"],
        "properties": {
          "balance": {
            "type": "number",
            "minimum": 0.01,
            "example": 10
          },
          "currency": {
            "type": "string",
            "enum": ["USD", "EUR", "XAF"],
            "example": "USD"
          },
          "card_type": {
            "type": "string",
            "enum": ["VISA", "MASTERCARD"],
            "example": "VISA"
          },
          "category": {
            "type": "string",
            "enum": ["PERSONAL", "BUSINESS"],
            "example": "PERSONAL"
          },
          "grade": {
            "type": "string",
            "enum": ["BASIC", "PREMIUM"],
            "example": "BASIC"
          }
        }
      },
      "VirtualCardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "card_id": {
                "type": "string",
                "example": "CARD_123456"
              },
              "user_id": {
                "type": "string",
                "example": "SP6VC"
              },
              "card_number": {
                "type": "string",
                "example": "4111111111111111"
              },
              "expiry_date": {
                "type": "string",
                "example": "12/2026"
              },
              "cvv": {
                "type": "string",
                "example": "123"
              },
              "balance": {
                "type": "number",
                "example": 10
              },
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "card_type": {
                "type": "string",
                "example": "VISA"
              },
              "status": {
                "type": "string",
                "example": "active"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CardOperationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "operation": {
                "type": "string",
                "example": "topup"
              },
              "card_id": {
                "type": "string",
                "example": "CARD_123456"
              },
              "new_balance": {
                "type": "number",
                "example": 20
              },
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "status": {
                "type": "string",
                "example": "success"
              },
              "transactions": {
                "type": "array",
                "description": "List of transactions (for transactions action)",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "TXN_123"
                    },
                    "amount": {
                      "type": "number",
                      "example": 10
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "type": {
                      "type": "string",
                      "example": "topup"
                    },
                    "status": {
                      "type": "string",
                      "example": "completed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "WebhookSuccess": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "amount": {
            "type": "number",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "example": "XAF"
          }
        }
      },
      "WebhookFailure": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "example": "failed"
          },
          "reason": {
            "type": "string",
            "example": "Insufficient funds"
          }
        }
      },
      "WebhookCallback": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "success", "failed", "processing"],
            "example": "success"
          },
          "amount": {
            "type": "number",
            "example": 1000
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid KEY"
          },
          "error_code": {
            "type": "string",
            "example": "INVALID_PUBLIC_KEY"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Validation failed"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}