{
  "openapi": "3.1.0",
  "info": {
    "title": "GetMiPay API",
    "description": "GetMiPay - Your universal gateway to Soleaspay. API for processing payments and payouts through GetMiPay gateway.",
    "contact": {
      "name": "GetMiPay Support",
      "email": "support@GetMiPay.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://GetMiPay.com/terms"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://GetMiPay.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.GetMiPay.com/api/v1",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "ApiSecretAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Collect payments from customers"
    },
    {
      "name": "Payouts",
      "description": "Send money to customers"
    },
    {
      "name": "Transactions",
      "description": "Check transaction status"
    },
    {
      "name": "Balance",
      "description": "Account balance management"
    }
  ],
  "paths": {
    "/payments/payin": {
      "post": {
        "tags": ["Payments"],
        "summary": "Initiate PayIn",
        "description": "Collect payment from a customer via mobile money. The transaction will be processed through Soleaspay and funds will be credited to your merchant account upon success.",
        "requestBody": {
          "description": "Payment details to collect from customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayInRequest"
              },
              "example": {
                "amount": 1000,
                "currency": "XAF",
                "wallet": "237690000000",
                "description": "Payment for Order #123",
                "customer_name": "John Doe",
                "customer_email": "john@example.com",
                "callback_url": "https://GetMiPay.com/webhooks/payment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "tags": ["Payouts"],
        "summary": "Initiate PayOut",
        "description": "Send money to a customer via mobile money. The amount will be deducted from your merchant balance immediately.",
        "requestBody": {
          "description": "Payout details to send to customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayOutRequest"
              },
              "example": {
                "amount": 5000,
                "currency": "XAF",
                "wallet": "237690000000",
                "description": "Refund for Order #456",
                "customer_name": "Jane Smith"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayOutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payment Status",
        "description": "Check the status of a PayIn transaction",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Transaction reference ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYIN_ABC123DEF456"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payout Status",
        "description": "Check the status of a PayOut transaction",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Payout reference ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYOUT_XYZ789GHI123"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "tags": ["Balance"],
        "summary": "Get Account Balance",
        "description": "Retrieve current merchant account balance",
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/payment/webhook": {
      "post": {
        "description": "Receive payment status updates via webhook",
        "requestBody": {
          "description": "Payment status update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "example": "MPAYIN_ABC123DEF456"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["pending", "success", "failed", "cancelled"],
                    "example": "success"
                  },
                  "amount": {
                    "type": "number",
                    "example": 1000
                  },
                  "message": {
                    "type": "string",
                    "example": "Payment completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PayInRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 1000,
            "description": "Amount in smallest currency unit (100 XAF = 1€)"
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "USD", "EUR"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "description": "Customer mobile money wallet number",
            "example": "237690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Payment for Order #123"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "John Doe"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive payment status updates",
            "example": "https://yourapp.com/webhooks/payment"
          }
        }
      },
      "PayOutRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 5000
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "USD", "EUR"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "example": "237690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Refund for Order #456"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "Jane Smith"
          }
        }
      },
      "PayInResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Payment initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "example": "pending"
              },
              "payment_url": {
                "type": "string",
                "description": "URL to redirect customer for payment",
                "example": "https://soleaspay.com/pay/SP_123456789"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "SP_123456789"
              }
            }
          }
        }
      },
      "PayOutResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Payout initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "example": "MPAYOUT_XYZ789GHI123"
              },
              "amount": {
                "type": "number",
                "example": 5000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "example": "pending"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "SP_987654321"
              }
            }
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "status": {
                "type": "string",
                "enum": ["pending", "success", "failed", "cancelled"],
                "example": "success"
              },
              "description": {
                "type": "string",
                "example": "Payment for Order #123"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number",
                "example": 150000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "merchant_name": {
                "type": "string",
                "example": "My Awesome Business"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid API key"
          },
          "error_code": {
            "type": "string",
            "example": "INVALID_API_KEY"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      },
      "ApiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-SECRET"
      }
    }
  }
}