{
  "openapi": "3.1.0",
  "info": {
    "title": "GetMiPay API",
    "description": "GetMiPay - Your universal gateway to Soleaspay. API for processing payments and payouts through GetMiPay gateway.",
    "contact": {
      "name": "GetMiPay Support",
      "email": "support@getmipay.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://getmipay.com/terms"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://getmipay.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.getmepay.com/api/v1",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Services",
      "description": "Get available payment services"
    },
    {
      "name": "Currency",
      "description": "API for converting amounts between different currencies."
    },
    {
      "name": "Payments",
      "description": "Collect payments from customers"
    },
    {
      "name": "Payouts",
      "description": "Send money to customers"
    },
    {
      "name": "Transactions",
      "description": "Check transaction status"
    },
    {
      "name": "Balance",
      "description": "Account balance management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for payment notifications"
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "tags": ["Services"],
        "summary": "Get Available Services",
        "description": "Retrieve all available payment services activated for your merchant account. These are the services you can use for PayIn and PayOut operations.",
        "responses": {
          "200": {
            "description": "Services retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Merchant account not active or KYC not approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/convert-currency": {
      "get": {
        "tags": ["Currency"],
        "summary": "Convert Currency",
        "description": "Convert an amount from one currency to another using ISO 4217 currency codes.",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.01,
              "example": 100
            },
            "description": "The amount to convert."
          },
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "example": "XOF"
            },
            "description": "The source currency code (ISO 4217)."
          },
          {
            "name": "to_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "example": "XAF"
            },
            "description": "The target currency code (ISO 4217)."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Merchant account not active or KYC not approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/payin": {
      "post": {
        "tags": ["Payments"],
        "summary": "Initiate PayIn",
        "description": "Collect payment from a customer via mobile money. The transaction will be processed through Soleaspay and funds will be credited to your merchant account upon success.",
        "parameters": [
          {
            "name": "operation",
            "in": "header",
            "description": "Operation type - must be '2' for PayIn",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["2"],
              "example": "2"
            }
          },
          {
            "name": "service",
            "in": "header",
            "description": "Service identifier for the payment method",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Payment details to collect from customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "tags": ["Payouts"],
        "summary": "Initiate PayOut",
        "description": "Send money to a customer via mobile money. The amount will be deducted from your merchant balance immediately.",
        "parameters": [
          {
            "name": "operation",
            "in": "header",
            "description": "Operation type - must be '4' for PayOut",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["4"],
              "example": "4"
            }
          },
          {
            "name": "service",
            "in": "header",
            "description": "Service identifier for the payment method",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Payout details to send to customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayOutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayOutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payment Status",
        "description": "Check the status of a PayIn transaction",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Transaction reference ID (order_id or soleaspay_reference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYIN_ABC123DEF456"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/{reference}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payout Status",
        "description": "Check the status of a PayOut transaction",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Payout reference ID (order_id or soleaspay_reference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "MPAYOUT_XYZ789GHI123"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "tags": ["Balance"],
        "summary": "Get Account Balance",
        "description": "Retrieve current merchant account balance",
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/check-status": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Manual Status Check",
        "description": "Manually check and update transaction status by polling Soleaspay",
        "requestBody": {
          "description": "Reference to check",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reference"],
                "properties": {
                  "reference": {
                    "type": "string",
                    "description": "Transaction reference (order_id or soleaspay_reference)",
                    "example": "MPAYIN_ABC123DEF456"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Status checked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "integer",
                          "example": 123
                        },
                        "order_id": {
                          "type": "string",
                          "example": "MPAYIN_ABC123DEF456"
                        },
                        "current_status": {
                          "type": "string",
                          "example": "success"
                        },
                        "soleaspay_reference": {
                          "type": "string",
                          "example": "MLS690d472dd7ee7B"
                        },
                        "status_updated": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/direct-status": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Direct Status Check",
        "description": "Directly check transaction status with Soleaspay using both order ID and payment reference",
        "requestBody": {
          "description": "Transaction identifiers for direct status check",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Direct status check successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "success": {
      "post": {
        "tags": ["Webhooks"],
        "description": "Receive payment success notifications",
        "requestBody": {
          "description": "Payment success notification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSuccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Webhook processed successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "failure": {
      "post": {
        "tags": ["Webhooks"],
        "description": "Receive payment failure notifications",
        "requestBody": {
          "description": "Payment failure notification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookFailure"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    },
    "callback": {
      "post": {
        "tags": ["Webhooks"],
        "description": "Generic webhook endpoint that handles any status",
        "requestBody": {
          "description": "Generic payment status notification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCallback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServicesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Services retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "all_services": {
                "type": "array",
                "description": "All active services for the merchant",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "services_by_country": {
                "type": "object",
                "description": "Services grouped by country code",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              },
              "payin_services": {
                "type": "array",
                "description": "Services that support PayIn (deposits)",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "payout_services": {
                "type": "array",
                "description": "Services that support PayOut (withdrawals)",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "total_services": {
                "type": "integer",
                "example": 5,
                "description": "Total number of active services"
              },
              "total_payin_services": {
                "type": "integer",
                "example": 3,
                "description": "Total number of PayIn services"
              },
              "total_payout_services": {
                "type": "integer",
                "example": 2,
                "description": "Total number of PayOut services"
              },
              "merchant_info": {
                "type": "object",
                "properties": {
                  "merchant_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "business_name": {
                    "type": "string",
                    "example": "My Awesome Business"
                  },
                  "balance": {
                    "type": "number",
                    "example": 150000
                  },
                  "currency": {
                    "type": "string",
                    "example": "XAF"
                  }
                }
              }
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Service identifier to use in PayIn/PayOut headers",
            "example": "1"
          },
          "name": {
            "type": "string",
            "example": "MOMO CM"
          },
          "description": {
            "type": "string",
            "example": "MTN MOBILE MONEY CM"
          },
          "country_code": {
            "type": "string",
            "example": "CM"
          },
          "country_name": {
            "type": "string",
            "example": "CAMEROON"
          },
          "withdrawable": {
            "type": "boolean",
            "example": true,
            "description": "Whether this service supports PayOut operations"
          },
          "depositable": {
            "type": "boolean",
            "example": true,
            "description": "Whether this service supports PayIn operations"
          },
          "is_active": {
            "type": "boolean",
            "example": true
          },
          "currency": {
            "type": "string",
            "example": "XAF"
          },
          "min_amount": {
            "type": "number",
            "example": 100
          },
          "max_amount": {
            "type": "number",
            "example": 1000000
          }
        }
      },
      "CurrencyConversionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "from_currency": {
                "type": "string",
                "example": "XOF",
                "description": "The currency code being converted from"
              },
              "to_currency": {
                "type": "string",
                "example": "XAF",
                "description": "The currency code being converted to"
              },
              "amount": {
                "type": "number",
                "example": 100,
                "description": "The original amount before conversion"
              },
              "converted_amount": {
                "type": "number",
                "example": 100,
                "description": "The converted amount after applying the rate"
              },
              "rate": {
                "type": "number",
                "example": 1,
                "description": "The exchange rate applied between the two currencies"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-11-12T10:30:00Z",
                "description": "The UTC timestamp when the conversion rate was fetched"
              }
            }
          }
        }
      },
      "PayInRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 1000,
            "description": "Amount in smallest currency unit (100 XAF = 1€)"
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "USD", "EUR"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "description": "Customer mobile money wallet number",
            "example": "237690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Payment for Order #123"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "John Doe"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive payment status updates",
            "example": "https://yourapp.com/webhooks/payment"
          }
        }
      },
      "PayOutRequest": {
        "type": "object",
        "required": ["amount", "currency", "wallet", "description", "customer_name"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 100,
            "example": 5000
          },
          "currency": {
            "type": "string",
            "enum": ["XAF", "USD", "EUR"],
            "default": "XAF",
            "example": "XAF"
          },
          "wallet": {
            "type": "string",
            "example": "237690000000"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "Refund for Order #456"
          },
          "customer_name": {
            "type": "string",
            "maxLength": 255,
            "example": "Jane Smith"
          }
        }
      },
      "PayInResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Payment initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "MLS690d472dd7ee7B"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "example": "pending"
              },
              "payment_url": {
                "type": "string",
                "description": "URL to redirect customer for payment (if applicable)",
                "example": "https://soleaspay.com/pay/MLS690d472dd7ee7B"
              },
              "webhook_urls": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "string",
                    "example": "https://getmipay.com/api/webhooks/success"
                  },
                  "failure": {
                    "type": "string",
                    "example": "https://getmipay.com/api/webhooks/failure"
                  }
                }
              }
            }
          }
        }
      },
      "PayOutResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Payout initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "transaction_reference": {
                "type": "string",
                "example": "MPAYOUT_XYZ789GHI123"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "MLS690d472dd7ee7C"
              },
              "amount": {
                "type": "number",
                "example": 5000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "example": "pending"
              }
            }
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "soleaspay_reference": {
                "type": "string",
                "example": "MLS690d472dd7ee7B"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "status": {
                "type": "string",
                "enum": ["pending", "success", "failed", "timeout"],
                "example": "success"
              },
              "description": {
                "type": "string",
                "example": "Payment for Order #123"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "polling_attempts": {
                "type": "integer",
                "example": 5
              },
              "last_polling_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "DirectStatusRequest": {
        "type": "object",
        "required": ["order_id", "pay_id"],
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Your unique order ID",
            "example": "MPAYIN_ABC123DEF456"
          },
          "pay_id": {
            "type": "string",
            "description": "Soleaspay payment reference (received from Pay-In API)",
            "example": "MLS690d472dd7ee7B"
          },
          "operation": {
            "type": "string",
            "description": "Optional operation header",
            "example": "2"
          },
          "service": {
            "type": "string",
            "description": "Optional service header",
            "example": "1"
          }
        }
      },
      "DirectStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "order_id": {
                "type": "string",
                "example": "MPAYIN_ABC123DEF456"
              },
              "pay_id": {
                "type": "string",
                "example": "MLS690d472dd7ee7B"
              },
              "status": {
                "type": "string",
                "enum": ["pending", "success", "failed", "processing"],
                "example": "success"
              },
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2024-12-16T10:05:01Z"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number",
                "example": 150000
              },
              "currency": {
                "type": "string",
                "example": "XAF"
              },
              "merchant_name": {
                "type": "string",
                "example": "My Awesome Business"
              }
            }
          }
        }
      },
      "WebhookSuccess": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "amount": {
            "type": "number",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "example": "XAF"
          }
        }
      },
      "WebhookFailure": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "example": "failed"
          },
          "reason": {
            "type": "string",
            "example": "Insufficient funds"
          }
        }
      },
      "WebhookCallback": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "example": "MPAYIN_ABC123DEF456"
          },
          "reference": {
            "type": "string",
            "example": "MLS690d472dd7ee7B"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "success", "failed", "processing"],
            "example": "success"
          },
          "amount": {
            "type": "number",
            "example": 1000
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid API key"
          },
          "error_code": {
            "type": "string",
            "example": "INVALID_API_KEY"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}